// Add custom css here or create more partials
// and import them in all.css.scss!
.full-w{
	width: 100%;
}
body{
	background-image: url('https://s3.amazonaws.com/myfangate.com/tcmfreesong/background.jpg');
	background-repeat: repeat;
}
.cta{	
	z-index: 99999;
	position: absolute;
	margin: 0 auto;
	padding: 0 10px;
	width: 100%;
	text-align: center;
	top: 10px;
	img{
		max-width: 650px;
	}
}
#navigation-table, .btn-success{
	width: 100%;
	text-transform: uppercase;
	border-radius: 0;
	font-size: 20px;	
}
.form-control{
	border-radius: 0;
	font-size: 15px;	
}
.ss-question-list{
	margin-left: 0 !important;
}