@font-face {
  font-family: 'AkzidenzGroteskBE-MdCn';
  src: url('./fonts/AkzidenzGroteskBE-MdCn.eot?#iefix') format('embedded-opentype'),  url('./fonts/AkzidenzGroteskBE-MdCn.otf')  format('opentype'),
	     url('./fonts/AkzidenzGroteskBE-MdCn.woff') format('woff'), url('./fonts/AkzidenzGroteskBE-MdCn.ttf')  format('truetype'), url('./fonts/AkzidenzGroteskBE-MdCn.svg#AkzidenzGroteskBE-MdCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
