<div class="container">
	<div class="row">
		<div class="col-lg-12 text-center header">
			<img onLoad="vertCenter();" class="full-w" src="https://s3.amazonaws.com/myfangate.com/tcmfreesong/headerbackground.png">			
		</div>
		<div class="col-lg-8 col-lg-offset-2 logo">
			<img onLoad="vertCenter();" class="full-w" src="https://s3.amazonaws.com/myfangate.com/tcmfreesong/logo.png">
		</div>
	</div>
</div>